<ion-header>
  <ion-navbar>
    <ion-title>Facebook</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    Login Using Facebook!
  </p>
  <div *ngIf="user.isLoggedIn; else facebookLogin">
    <h2>Hi, {{user.profile.name}} ({{user.profile.email}})</h2>
    <p>
      Gender: {{user.profile.gender}} <button ion-button icon-right (click)="logout()">Logout</button>
    </p>
    <p>
      <img src="{{user.profile.picture.data.url}}" width="100" alt="{{user.profile.name}}" />
    </p>    
    <div>
      <h2>Photos</h2>
        <div *ngIf="photos.length<=0; else photosTemplate">
          <p>
            No photos found!
          </p>
        </div>
      </div>
    <div>
      <h2>Videos</h2>
      <div *ngIf="videos.length<=0; else videosTemplate">
          <p>
            No videos found!
          </p>
        </div>
    </div>
  </div>
  <ng-template #facebookLogin>
    <button ion-button icon-right (click)="fbLogin()">
      Login with
      <ion-icon name="logo-facebook"></ion-icon>
    </button>
  </ng-template>

  <ng-template #photosTemplate>
    <ion-grid>
      <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let photo of photos">
              <div class="image-container" [style.background-image]="'url('+ photo.picture +')'"></div>
            </ion-col>
            <!--
        <ion-avatar item-left>
          <img [src]="photo.picture"/>
        </ion-avatar>
        <h2>{{ photo.name }}</h2>
        <p>{{ photo.created_time | date:'medium' }}</p>
      -->
      </ion-row>
    </ion-grid>
  </ng-template>
  
  <ng-template #videosTemplate>
      <ion-grid>
          <ion-row>
              <ion-col col-6 col-md-4 col-xl-3 *ngFor="let video of videos">
                  <div class="image-container" [style.background-image]="'url('+ video.picture +')'"></div>
                </ion-col>
              </ion-row>
        </ion-grid>
  </ng-template>

</ion-content>
